//data capacity for the roop = 6: customizable
- var cap = 6
#vids.videos(data-capacity=cap)
  each _, n in Array(cap)
    a.vid(id="focus-" + n href="#focus-" + n onclick="changeView()")
      video.setSpace(id="video" + n)
      input.hangUp(type='image' alt='hangUp' value='hangUp', src='../images/hangup.svg')
      input.muteAudio(type='image', alt='Mute Audio',  value='muteAudio' src='../images/audio.svg')
      input.muteVideo(type='image', alt='Mute Video', value='muteVid' src='../images/video.svg')
  input#revertView(type='image' alt='RevertView' value='revertView' src='../images/revert.png' onclick='revert()')
