#fullpage.boxCommon
  video#box0.transit.boxCommon.thumbCommon.easyRTCMirror(muted='muted', volume='0')
  video#box1.transit.boxCommon.thumbCommon(style='visibility:hidden')
  video#box2.transit.boxCommon.thumbCommon(style='visibility:hidden')
  video#box3.transit.boxCommon.thumbCommon(style='visibility:hidden')
  #textentryBox(onsubmit='sendText()', style='display:none')
    input#textentryField.transit.boxcommon(type='text')
    br
    button#textentrySubmit(style='float:right;margin-right:1em', onclick='sendText()') Send
    button#textentryCancel(style='float:left;margin-left:1em', onclick='cancelText()') Cancel
  img#killButton.transit.boxCommon(onclick='killActiveBox()', src='../images/button_close2.png', style='display:none;z-index:3', alt='close button')
  img#muteButton.transit.boxCommon(onclick='muteActiveBox()', src='../images/button_mute.png', style='display:none;z-index:3', alt='muteButton')
  img#textEntryButton.transit.boxCommon(onclick='showTextEntry()', src='../images/textEntry.png', style='z-index:3;display:none', alt='text button')

