#vids.videos.one
  a.vid(id="focus-0" href="#focus-0" onclick="changeView()")
    video.setSpace(id="box0")
    input.hangUp(type='image' alt='hangUp' value='hangUp', src='../images/hangup.svg')
    input.muteAudio(type='image', alt='Mute Audio',  value='muteAudio' src='../images/audio.svg')
    input.muteVideo(type='image', alt='Mute Video', value='muteVid' src='../images/video.svg')
  a.vid(id="focus-1" href="#focus-1" onclick="changeView()")
    video.setSpace(id="box1")
    input.hangUp(type='image' alt='hangUp' value='hangUp', src='../images/hangup.svg')
    input.muteAudio(type='image', alt='Mute Audio',  value='muteAudio' src='../images/audio.svg')
    input.muteVideo(type='image', alt='Mute Video', value='muteVid' src='../images/video.svg')
  a.vid(id="focus-2" href="#focus-2" onclick="changeView()")
    video.setSpace(id="box2")
    input.hangUp(type='image' alt='hangUp' value='hangUp', src='../images/hangup.svg')
    input.muteAudio(type='image', alt='Mute Audio',  value='muteAudio' src='../images/audio.svg')
    input.muteVideo(type='image', alt='Mute Video', value='muteVid' src='../images/video.svg')
  a.vid(id="focus-3" href="#focus-3" onclick="changeView()")
    video.setSpace(id="box3")
    input.hangUp(type='image' alt='hangUp' value='hangUp', src='../images/hangup.svg')
    input.muteAudio(type='image', alt='Mute Audio',  value='muteAudio' src='../images/audio.svg')
    input.muteVideo(type='image', alt='Mute Video', value='muteVid' src='../images/video.svg')
  a.vid(id="focus-4" href="#focus-4" onclick="changeView()")
    video.setSpace(id="box4")
    input.hangUp(type='image' alt='hangUp' value='hangUp', src='../images/hangup.svg')
    input.muteAudio(type='image', alt='Mute Audio',  value='muteAudio' src='../images/audio.svg')
    input.muteVideo(type='image', alt='Mute Video', value='muteVid' src='../images/video.svg')
  a.vid(id="focus-5" href="#focus-5" onclick="changeView()")
    video.setSpace(id="box5")
    input.hangUp(type='image' alt='hangUp' value='hangUp', src='../images/hangup.svg')
    input.muteAudio(type='image', alt='Mute Audio',  value='muteAudio' src='../images/audio.svg')
    input.muteVideo(type='image', alt='Mute Video', value='muteVid' src='../images/video.svg')
  input#revertView(type='image' alt='RevertView' value='revertView' src='../images/revert.png' onclick='revert()')
      
    
