
#demoContainer
  #connectControls
    button#hangupButton(disabled='disabled', onclick='hangup()') Hangup
    br
    strong Connected users:
    #otherClients
  #videos
    h3 Local media streams
    #localVideos(autoplay='autoplay')
    h3 Remote media streams
    #remoteVideos(autoplay='autoplay')
    #acceptCallBox
      // Should be initially hidden using CSS
      #acceptCallLabel
      button.btn.btn-success#callAcceptButton Accept
      | &nbsp;
      button.btn.btn-danger#callRejectButton Reject
