extends layout

block content
  h1= title
  p Welcome to #{title}

  button(onclick= "window.location.href = '/about'") About Us
  button(onclick= "showCreateRoom()") Create Room

  #popup-create-room
    form(action="/room/create" method="post")
      h1 Create Room
      .public-field
        label Name
        input(type="text" name="Name")
      .public-field
        label Private
        input(type="radio" name="Private" value="true")
      .public-field
        label Public
        input(type="radio" name="Private" value="false")
      .public-field
        label Password
        input(type="password" name="Password")
      input(type="Submit" value="Create")
      button(onclick= "self.close()") Cancel
block javascript
  script(src="/script/jquery-2.2.1.js")
  script(src="/script/clientLobby.js")
