doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap-4a2.css')
    block head
  body
    .page
      block content
    footer This is CreamStream Boy!
    script(src='/vendor/jquery-2.2.1.js')
    block javascript

