extends layout

block head
  link(rel='stylesheet' href='/stylesheets/lobby.css')

block content
  h1= title
  p Welcome to #{title}

  p
    button.btn.btn-info(onclick= "window.location.href = '/about'") About Us
    | &nbsp;
    button.btn.btn-primary(onclick= "window.location.href = '#popup-create-room'") Create Room

  div
    ul.list-group
      each room, index in rooms
        li.list-group-item
          span.label.label-default.label-pill.pull-xs-right=room.capacity
          a(href='/room/' + index)= index

  #popup-create-room
    form(action="/room/create" method="post")
      h1 Create Room
      .public-field
        label Name
        input(type="text" name="Name")
      .public-field
        label Capacity
        input(type="number" name="Capacity")
      .public-field
        label Private
        input(type="radio" name="Private" value="true")
        label Public
        input(type="radio" name="Private" value="false")
      .public-field
        label Password
        input(type="password" name="Password")
      button.btn.btn-primary(type="Submit") Create
      a.btn.btn-secondary(href="#" role="button") Cancel
block javascript
  script(src="/script/clientLobby.js")
