extends layout

block content
  form(action=("/room/" + room_id) method="post")
    .public-field
      label Password
      input(type="password" name="Password")
  script.
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    var message = getUrlVars()["message"]
    if (message != null) {
      message = decodeURIComponent(message)
      document.write(message)
    }
