
.lobby-header {
  padding: 4px;
  text-align: left;
}
.lobby-header h1 {
  color: #111;
  font-weight: bolder;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: inline-block;
}
.lobby-header .header-buttons {
  float:right;
  margin-top:2em;
  margin-bottom: .5em;
}

h2 {
  padding: .5em;
  color: #212b31;
}

#create-room .action-buttons { }
#create-room .action-buttons .btn {
  float: right;
  margin: 15px;
  margin-right: 0px;
}

.public-field input {
  margin-left: 1em;
}
.public-field {
  padding: 1em;
}

/* Both the About and the Create Room use these popup styles */
.popup {
  pointer-events: none;
  opacity: 0;
  transition: opacity .1s ease-in;
  padding: 50px;
}
.popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
}
/* Popup when screen is smaller */
@media(min-width: 900px) {
  .popup {
    left: auto;
    width: 500px;
    right: 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  }
}
/* Target is applied when href = #create-room */
.popup:target {
  opacity: 1;
  pointer-events: all;
}

.popup-exit:before {
  content:"×";
  color: #dbdbdb;
  line-height: 1;
  font-size: 3em;
  transition: color .25s;
}
.popup-exit:hover, .popup-exit:focus { text-decoration: none; }
.popup-exit:hover:before { color: #444; }
.popup-exit {
  position: absolute;
  right: 1em;
  top: 1em;
}
