.room-top-bar {
  width: 100%;
  padding: 1em;
  background: #111;
  color: white;
  text-align: center;
  position: relative;
}
.room-top-bar .room-title {
  font-size: 16px;
  display: inline-block;
}
.room-top-bar .is-admin {
  width: 16px;
  height: 16px;
  background: gold;
  display: inline-block;
  margin-left: 10vw;
}
.room-top-bar .is-private {
  position: absolute;
  right: 1em;
  top: 1em;
}
.action-buttons {
  position: absolute;
  left: 0;
  top: .5em;
  width: 100%;
  text-align: center;
  z-index: 900;
}
/* While video is loading */
video {
  background-image: url(/images/background.gif);
  background-size: cover;
}
/* EASY RTC STYLES vvv */
.transit {
  transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, transform 1s;
  -moz-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, -moz-transform 1s;
  -webkit-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, -webkit-transform 1s;
  -o-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, -o-transform 1s;
}
body .dynamic-view,
body .page {
  padding: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
}
/*Begin new css---------------------------------------------------------------*/
body {
  margin: auto;
}
#m {
  left: 7%;
  top: 2%;
  height: 5%;
  width: 5%;
  display: block;
}
#p {
  left: 2%;
  top: 2%;
  height: 5%;
  width: 5%;
  display: block;
}
#revertView {
  right: 2%;
  top: 2%;
  height: 5%;
  width: 5%;
  display: none;
}
.videos {
  /*position: absolute;*/
  background: #dbdbdb;
  height: 100%;
  width: 100%;
}
.vid:hover {
  opacity: 0.8;
}
.vid:hover input {
  display: block;
  bottom: 0%;
}
.videos input {
  position: absolute;
  width: 10%;
  height: 10%;
  display: none;
}
.vid input.hangUp {
  right: 0%;
}
.vid input.muteVideo {
  right: 17%;
}
.vid input.muteAudio {
  right: 34%;
}
.vid {
  background: #233333;
  height: 2em;
  width: 3em;
  border: solid red 1px;
  transition: all .5s;
  z-index: 0;
  display: none;
}
/*.vid:target{
  need to resize target to be big
  and resize others to be small.

  Needs to be in videos tag
  background: lawngreen;
  width: 100%;
  height:100%;
}
*/
/*.videos .vid:target{
  background: blue;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 75%;
  height:60%;
}*/
.setSpace {
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.one {
  /*.vid:target{
    background: blue;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 75%;
    height:60%;
  }*/
}
.one .vid {
  position: absolute;
}
.one .vid:nth-child(1) {
  width: 90%;
  left: 5%;
  top: 5%;
  height: 90%;
  display: block;
}
.two .vid {
  position: absolute;
  border-color: blue;
  top: 5%;
}
@media screen and (min-aspect-ratio: 1/1) {
  .two .vid {
    width: 45%;
    height: 90%;
  }
  .two .vid:nth-child(1) {
    left: 3.3333%;
    display: block;
  }
  .two .vid:nth-child(2) {
    left: 51.666%;
    display: block;
  }
}
@media screen and (max-aspect-ratio: 1/1) {
  .two .vid {
    width: 90%;
    height: 45%;
  }
  .two .vid:nth-child(1) {
    left: 3.3333%;
    display: block;
  }
  .two .vid:nth-child(2) {
    left: 51.666%;
    display: block;
  }
}
.three {
  /*TODO add min and max aspec ratio*/
}
.three .vid {
  position: absolute;
  border-color: blue;
  height: 45%;
  width: 45%;
}
.three .vid:nth-child(1) {
  left: 28.3333%;
  top: 51.6666%;
  display: block;
}
.three .vid:nth-child(2) {
  top: 3.3333%;
  left: 3.3333%;
  display: block;
}
.three .vid:nth-child(3) {
  top: 3.3333%;
  left: 51.666%;
  display: block;
}
.four {
  /*TODO add max aspec ratio*/
}
.four .vid {
  position: absolute;
  border-color: blue;
}
@media screen and (min-aspect-ratio: 1/1) {
  .four .vid {
    width: 45%;
    height: 45%;
  }
  .four .vid:nth-child(1) {
    top: 3.3333%;
    left: 3.3333%;
    display: block;
  }
  .four .vid:nth-child(2) {
    top: 3.3333%;
    left: 51.666%;
    display: block;
  }
  .four .vid:nth-child(3) {
    top: 51.6666%;
    left: 3.3333%;
    display: block;
  }
  .four .vid:nth-child(4) {
    top: 51.66666%;
    left: 51.666%;
    display: block;
  }
}
.five {
  /*TODO add max aspec ratio*/
}
@media screen and (min-aspect-ratio: 1/1) {
  .five .vid {
    position: absolute;
    width: 30%;
    height: 45%;
  }
  .five .vid:nth-child(1) {
    left: 2%;
    top: 3.3333%;
    display: block;
  }
  .five .vid:nth-child(2) {
    top: 3.3333%;
    left: 34%;
    display: block;
  }
  .five .vid:nth-child(3) {
    top: 3.3333%;
    left: 66%;
    display: block;
  }
  .five .vid:nth-child(4) {
    top: 51.6666%;
    left: 16.5%;
    display: block;
  }
  .five .vid:nth-child(5) {
    top: 51.6666%;
    left: 53.5%;
    display: block;
  }
}
.six .vid {
  position: absolute;
  display: block;
}
@media screen and (min-aspect-ratio: 1/1) {
  .six .vid {
    width: 30%;
    height: 45%;
  }
  .six .vid:nth-child(1) {
    left: 2%;
    top: 3.3333%;
  }
  .six .vid:nth-child(2) {
    top: 3.3333%;
    left: 34%;
  }
  .six .vid:nth-child(3) {
    top: 3.3333%;
    left: 66%;
  }
  .six .vid:nth-child(4) {
    top: 51.66666%;
    left: 2%;
  }
  .six .vid:nth-child(5) {
    top: 51.66666%;
    left: 34%;
  }
  .six .vid:nth-child(6) {
    top: 51.66666%;
    left: 66%;
  }
}
@media screen and (max-aspect-ratio: 1/1) {
  .six {
    /*Needs optimizing*/
  }
  .six .vid {
    width: 45%;
    height: 30%;
  }
  .six .vid:nth-child(1) {
    top: 2%;
    left: 3.3333%;
  }
  .six .vid:nth-child(2) {
    left: 3.3333%;
    top: 34%;
  }
  .six .vid:nth-child(3) {
    left: 3.3333%;
    top: 66%;
  }
  .six .vid:nth-child(4) {
    left: 51.66666%;
    top: 2%;
  }
  .six .vid:nth-child(5) {
    left: 51.66666%;
    top: 34%;
  }
  .six .vid:nth-child(6) {
    left: 51.66666%;
    top: 66%;
  }
}
.getsmall.two .vid:not(:target) {
  position: absolute;
  width: 15%;
  height: 30%;
}
.getsmall.two .vid:nth-child(1) {
  left: 0%;
  top: 67.5%;
  display: block;
  /*top level vid not overriding?*/
}
.getsmall.two .vid:nth-child(2) {
  left: 17%;
  top: 67.5%;
  display: block;
}
.getsmall.two .vid:target {
  /*needs to be in each videos class tag?*/
  background: blue;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 75%;
  height: 60%;
}
.getsmall.three .vid:not(:target) {
  position: absolute;
  display: none;
  width: 15%;
  height: 30%;
}
.getsmall.three .vid:nth-child(1) {
  left: 0%;
  top: 67.5%;
  display: block;
  /*top level vid not
    overriding?*/
}
.getsmall.three .vid:nth-child(2) {
  left: 17%;
  top: 67.5%;
  display: block;
}
.getsmall.three .vid:nth-child(3) {
  left: 34%;
  top: 67.5%;
  display: block;
}
.getsmall.three .vid:target {
  /*needs to be in each videos class tag?*/
  background: blue;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 75%;
  height: 60%;
}
.getsmall.four .vid:not(:target) {
  position: absolute;
  width: 15%;
  height: 30%;
}
.getsmall.four .vid:nth-child(1) {
  left: 0%;
  top: 67.5%;
  display: block;
  /*top level vid not overriding?*/
}
.getsmall.four .vid:nth-child(2) {
  left: 17%;
  top: 67.5%;
  display: block;
}
.getsmall.four .vid:nth-child(3) {
  left: 34%;
  top: 67.5%;
  display: block;
}
.getsmall.four .vid:nth-child(4) {
  left: 51%;
  top: 67.5%;
  display: block;
}
.getsmall.four .vid:target {
  /*needs to be in each videos class tag?*/
  background: blue;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 75%;
  height: 60%;
}
.getsmall.five .vid {
  position: absolute;
  width: 15%;
  height: 30%;
}
.getsmall.five .vid:nth-child(1) {
  left: 0%;
  top: 67.5%;
  display: block;
  /*top level vid not overriding?*/
}
.getsmall.five .vid:nth-child(2) {
  left: 17%;
  top: 67.5%;
  display: block;
}
.getsmall.five .vid:nth-child(3) {
  left: 34%;
  top: 67.5%;
  display: block;
}
.getsmall.five .vid:nth-child(4) {
  left: 51%;
  top: 67.5%;
  display: block;
}
.getsmall.five .vid:nth-child(5) {
  left: 68%;
  top: 67.5%;
  display: block;
}
.getsmall.five .vid:target {
  /*needs to be in each videos class tag?*/
  background: blue;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 75%;
  height: 60%;
}
.getsmall.six .vid {
  position: absolute;
  display: block;
  width: 15%;
  height: 30%;
}
.getsmall.six .vid:nth-child(1) {
  left: 0%;
  top: 67.5%;
  /*top level vid not overriding?*/
}
.getsmall.six .vid:nth-child(2) {
  left: 17%;
  top: 67.5%;
}
.getsmall.six .vid:nth-child(3) {
  left: 34%;
  top: 67.5%;
}
.getsmall.six .vid:nth-child(4) {
  left: 51%;
  top: 67.5%;
}
.getsmall.six .vid:nth-child(5) {
  left: 68%;
  top: 67.5%;
}
.getsmall.six .vid:nth-child(6) {
  left: 85%;
  top: 67.5%;
}
.getsmall.six .vid:target {
  /*needs to be in each videos class tag?*/
  background: blue;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 75%;
  height: 60%;
}
