.room-top-bar {
  width: 100%;
  padding: 1em;
  background: #111;
  color: white;
  text-align: center;
  position: relative;
}
.room-top-bar .room-title {
  font-size: 16px;
  display: inline-block;
}
.room-top-bar .is-admin {
  width: 16px;
  height: 16px;
  background: gold;
  display: inline-block;
  margin-left: 10vw;
}
.room-top-bar .is-private {
  position: absolute;
  right: 1em;
  top: 1em;
}
.action-buttons {
  position: absolute;
  right: 1%;
  top: .5em;
  width: 100%;
  text-align: right;
  z-index: 900;
}
/* While video is loading */
.videos a {
  /*background-image: url(/images/background.gif);*/
  background-color: black;
  background-size: cover;
}
