
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  // "Source Code Pro", "Consolas", monospace;
  border-bottom: 1em solid #82214E;
}
footer {
  background-image: url('/images/bg_creamycream.jpg');
}

body .page {
  padding: 50px;
  text-align: center;
}

a {
  color: #00B7FF;
}

